---
import { site } from "../data/site";
import { ribbonQuotes } from "../data/reviews";
---

<div class="ribbon">
  <div class="ribbon-inner">
    <div class="ribbon-stars">
      <span class="stars" aria-hidden="true">
        {[...Array(5)].map(() => (
          <svg viewBox="0 0 24 24"><path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/></svg>
        ))}
      </span>
      <span class="tabular"><strong>{site.rating.value}</strong> from {site.rating.count} Google reviews</span>
    </div>
    <div class="ribbon-meta">
      <span>Since {site.founded}</span>
      <span>9 areas served</span>
      <span>Workshop in Udayamperoor</span>
    </div>
    <div class="ribbon-quote" id="ribbonQuote" data-quotes={JSON.stringify(ribbonQuotes)}>{ribbonQuotes[0]}</div>
  </div>
</div>
